:root {
    --color: #FFFFFF;
    --bg-primary: #18191C;
    --bg-secondary: #212226;
    --bg-footer: #2F3136;
    --logo: #6B6C6E;
    --red: #F0584A;
    --blue: #49989E;
}

body {
    margin: 0;
    font-family: unibody-8-new,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color);
    background-color: var(--bg-primary);
}

.primary {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stack {
    margin-bottom: 5em;
}

.title {
    margin-bottom: .2em;
    font-size: 4rem;
}

.description {
    margin: 0;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rect {
    margin: 2em 0em 2em 0em;
    background-color: var(--logo);
    width: 30em;
    height: 4em;
}

.secondary {
    padding: 2em 3em 2em 3em;
    height: 100vh;
    background-color: var(--bg-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.base {
    max-width: 100%;
    max-height: 100%;
}

.base2 {
    display: none;
}

.modules {
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row1 {
    margin: 5em 0em 3em 0em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.row2 {
    margin: 0em 0em 5em 0em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.moduleicon {
    max-width: 12em;
    max-height: 12em;
    padding-bottom: 5em;
}

.module {
    padding: 5em 5em 0em 5em;
    margin: 1em 0em 1em 0em;
    width: 10em;
    background-color:var(--bg-footer);
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: padding .3s;
}

.modulename {
    width: 100%;
    padding: 1.5em 5em 1.5em 5em;
    border-radius: 0em 0em 1.5em 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .3s ease-in-out;
    transition-delay: .5s;
    transition: padding .3s ease-in-out;
}

/*
.module:hover {
    padding: 3em 7em 20em 7em;
    background-color: var(--bg-secondary);
    cursor: pointer;
    
}

.module:hover .modulename{
    opacity: 0;
    padding: 2em 5.5em 1em 5.5em;
    
}
*/

.red {
    background-color: var(--red);
}

.blue {
    background-color: var(--blue);
}

.about:hover {
    color: var(--bg-primary);
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin: .4em;
    background-color: var(--logo);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.icon:hover {
    background-color: var(--color);
    cursor: pointer;
}

footer {
    padding: 3em;
    height: auto;
    background-color: var(--bg-footer);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
}

@media all and (max-width: 1100px) {
    .primary {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .title {
        margin-bottom: .2em;
        font-size: 4.5rem;
    }
    .logo {
        margin-bottom: 5em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .rect {
        margin: 5em 0em 0em 0em;
        background-color: var(--logo);
        width: 23em;
        height: 3.5em;
    }
    .secondary {
        padding: 5em 3em 5em 3em;
        height: auto;
    }
    .row1 {
        margin: 3em 0em 3em 0em;
    }
    .row2 {
        margin: 0em 0em 3em 0em;
    }
    .moduleicon {
        max-width: 7em;
        max-height: 7em;
        padding-bottom: 3em;
    }
    .module {
        padding: 2em 1em 0em 1em;
    }
    .modulename {
        padding: 1em 1em 1em 1em;
    }
}

@media all and (max-width: 700px) {
    .primary {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .stack {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title {
        margin-bottom: .5em;
        font-size: 2.5rem;
        justify-content: center;
    }
    .description {
        font-size: .7rem;
    }
    .logo {
        margin-bottom: 5em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .rect {
        margin: 4em 0em 0em 0em;
        background-color: var(--logo);
        width: 14em;
        height: 2em;
    }
    .secondary {
        padding: 5em 2em 5em 2em;
        height: auto;
    }
    .row1 {
        margin: 0em 0em 0em 0em;
        flex-direction: column;
    }
    .row2 {
        margin: 0em 0em 0em 0em;
        flex-direction: column;
    }
    .base {
        display: none;
    }
    .base2 {
        display: inline;
    }
    .modules {
        margin: 2em 0em 2em 0em;
    }
    .moduleicon {
        max-width: 7em;
        max-height: 7em;
        padding-bottom: 3em;
    }
    .module {
        margin: 1em 0em 1em 0em;
        width: 10em;
        padding: 2em 1em 0em 1em;
    }
    .modulename {
        padding: 1em 1em 1em 1em;
    }
    footer {
        flex-direction: column;
    }
    .aboutContainer {
        margin: 1em 0em 2em 0em;
    }
}

@media all and (orientation: landscape) and (max-width:1100px){
    .primary {
        height: auto;
    }
}